<div class="row">
  <div class="col s12 center-align">
    <h1>Edit Destination</h1>
  </div>
</div>
<div class="divider" style="margin-bottom: 65px"></div>

<form class="form-horizontal" action="/destinations/<%= @destination.id %>" method="post">
  <div class="form-group">
    <label for="destination[name]" class="col-xs-3 control-label">Name:</label>
    <div class="col-xs-7">  
      <input type="text" name="destination[name]" class="form-control" value='<%= "#{@destination.name}" %>'>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="form-group">
    <label for="destination[country]" class="col-xs-3 control-label">Country:</label>
    <div class="col-xs-7">  
      <input type="text" name="destination[country]" class="form-control" value='<%= "#{@destination.country}" %>'>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="form-group">
    <label for="destination[photo_url]" class="col-xs-3 control-label">Photo URL:</label>
    <div class="col-xs-7">  
      <input type="text" name="destination[photo_url]" class="form-control" value='<%= "#{@destination.photo_url}" %>'>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="form-group">
    <label for="destination[interesting_fact]" class="col-xs-3 control-label">Interesting Fact/Activity</label>
    <div class="col-xs-7">  
      <input type="text" name="destination[interesting_fact]" class="form-control" value='<%= "#{@destination.interesting_fact}" %>'>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <!-- <input class="btn btn-danger" type="submit" value="Create"> -->
  <div class="row">
    <div class="col s12 center-align">
      <button class="btn waves-effect waves-light red darken-4 center-align" type="submit" name="action"><i class="material-icons right">thumb_up</i>All good now</button>
    </div>
  </div>
</form>

