<div class="row">
  <div class="col s12 center-align">
    <h1><%= @destination.name %></h1>
  </div>
</div>
<div class="divider" style="margin-bottom: 65px"></div>

<div class="row imgTag">
  <div class="col s6 center-align">  
      <h6>Photo</h6>
  </div>
  <div class="col s6 center-align">  
      <h6>Street View</h6>
  </div>
</div>


<div class="row"> 
  <div class="col s6">
    <img id="showImg" src="<%= @destination.photo_url %>" alt="<%= @destination.name %> photo">
  </div>
  <div class="col s6">
    <div id="street-view"></div>
  </div>
</div>  
<div class="row">
  <div class="col s3">
    <ul class="collection">
      <li class="collection-item collec"><b>Country: </b></li>
      <li class="collection-item collec"><b>Interesting Fact: </b></li>
      <li class="collection-item collec"><b>Location: </b></li>
      <li class="collection-item collec"><b>Latitude: </b></li>
      <li class="collection-item collec"><b>Longitude: </b></li>
      <li class="collection-item collec"><b>Photo URL: </b></li>
    </ul>
  </div>
  <div class="col s9">
    <ul class="collection">
      <li class="collection-item collecData"><%= @destination.country %></li>
      <li class="collection-item collecData"><%= @destination.interesting_fact %></li>
      <li class="collection-item collecData"><%= @destination.location %></li>
      <li class="collection-item collecData"><%= @destination.latitude %></li>
      <li class="collection-item collecData"><%= @destination.longitude %></li>
      <li class="collection-item collecData"><a href="<%= @destination.photo_url %>"><%= @destination.photo_url %></a></li>
    </ul>
  </div>
</div>

 

<script type="text/javascript">
  var data = <%= @destination.to_json %>
  initialize(data);
</script>

